*.elc
*.pyc
elpa
melpa
sandbox*
*.bbl
*.blg
*.pyg
*.tex
*.aux
*.lof
*.lot
*.log
*.spl
*.bib
*.pdf
backups
undohist
auto-save-list
.smex-items
*.data
.DS_Store
.trello/@jgraham20.el

.trello/jgraham20.el

config/custom.el

ac-comphist.dat

ac-comphist.dat

emms/cache

emms/history

emms/scores

projectile-bookmarks.eld

company-statistics-cache.el

ac-comphist.dat

smex-items

config/tags

recentf
