*.elc
*.pyc
elpa
melpa
sandbox*
*.bbl
*.blg
*.pyg
*.tex
*.aux
*.lof
*.lot
*.log
*.spl
*.bib
*.pdf
backups
undohist
auto-save-list
.smex-items
*.data
.DS_Store
.trello/@jgraham20.el

.trello/jgraham20.el

config/custom.el
